* {
  font-family: helvetia;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  width: 100%;
  align-items: center;
  z-index: 1;
  flex-grow: 1;
  flex-shrink: 2;
}

.logo {
  display: inline-flex;
  padding: 2px 40px 2px 10px;
  height: 50px;
  width: auto;
  flex-grow: 1;
  flex-shrink: 2;
  align-items: center;
  align-content: center;
}

.logo img {
  height: 60px;
}

.nav {
  padding: 10px 20px 10px 40px;
  margin-right: 40px;
}

a {
  padding: 10px;
  font-size: 25px;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 100%;
  position: relative;
  top: 70px;
  left: 350px;
  right: 350px;
}

.mission {
  text-align: center;
  width: 1200px;
  height: auto;
}
