body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    width: 100%;
}

.header-nav {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    align-items: center;
}

header {
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    background-color: black;
    align-items: center;
}

nav {
    text-align: right;
    flex-grow: 1;
    position: relative;
    left: 1000px;
}

.header-nav img {
	  height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
}

.header-nav a {
    display: inline-block;
    color: seashell;
   	padding: 5px;
    margin: 5px;
}

#mission {
	  display: flex;
    width: 1200px;
    height: 700px;
    align-items: center;
    justify-content: center;
    /*align-content: center;*/
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    margin: auto;
}

.mission-text {
	  /*display: flex;
	  flex-direction: column;*/
	  width: 1200px;
	  height: auto;
	  background-color: black;
	  padding: 5px;
    /*flex-grow: 1;
    flex-shrink: 1;*/
}

#featured-tea {
    width: 1000px;
    height: 700px;
    padding-top: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.shop-images {
	  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-images img {
	  display: block;
    margin: 10px;
    width: 300px;
    height: 200px;
}

.shop-images span {
	  padding: 5px;
    text-align: center;
    font-weight: bold;
    display: block;
}

#locations {
    height: 500px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    padding-top: 70px;
    width: 1200px;
    margin: auto;
}

h2,h3,h4,h5 {
    margin: 0;
    padding: 10px;
}

.all-locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.all-locations div {
    display: flex;
    width: 300px;
    padding: 20px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    opacity: 1;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
  height: 200px;
  text-align: center;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
