body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    width: 100%;
}

.header-nav {
	  display: flex;
    border-bottom: 1px solid white;
    flex-drection: row;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    flex: 1 0 100%;
    background-color: black;
}

.header-nav img {
	  height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.header-nav a {
    display: inline;
    color: seashell;
   	padding: 5px;
    margin: 5px;
}

.header-nav li {
    list-style-type: none;
    text-decoration: underline;
    display: inline-block;
	  position: relative;
    left: 550px;
}

#mission {
	  display: flex;
    width: 1200px;
    height: 700px;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");

}

.mission-text {
	  display: flex;
	  flex-direction: column;
	  width: 1200px;
	  height: auto;
	  background-color: black;
	  padding: 5px;
}

.featured-tea {
	  display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.shop-images {
	  display: inline-flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shop-images img {
	  display: flex;
   	align-items: center;
    width: 300px;
    height: 200px;
}

.shop-images p {
	  padding-top: 2px;
    text-align: center;
}

.alllocations {
	  display: flex;
    height: 500px;
    width: 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    align-items: center;
    flex-direction:
}

.alllocations h2 {
	  display: flex;
    justify-content: center;
}

.locations div {
    display: inline-flex;
    width: 300px;
    padding: 20px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
